body {
    margin: 0;
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }

.lateral {
    display: flex;
    flex-direction: column;
    background-color:#0077b6 ;
    width: 290px;   
    height: 100vh;
}

.lateral li {
    color: white;
    font-size: 1.4em;  
    padding: 11px; 
    margin-left: 30px;
}

.lateral a{
    text-decoration: none;
    color: white;
}

.func {
    text-align: center;
}

.func li {
    display: inline-block;
    padding: 30px;
    margin-left: 65px;
    position: static;
}

.func ul{
    white-space: nowrap;
    margin-top: 2px     ;
}

.func a{
    text-decoration: none;
    color: #0077b6;
    position: static;
}

* {
    box-sizing: border-box;
}